// PRIMARY ====
[data-theme-color='color-primary-1'] {
    --primary: #{$color1};
    --secondary: #441d3e;
    --light: #fff1f7;
    --rgba-primary-1: #{rgba($color1, 0.1)};
    --rgba-primary-2: #{rgba($color1, 0.2)};
    --rgba-primary-3: #{rgba($color1, 0.3)};
    --rgba-primary-4: #{rgba($color1, 0.4)};
    --rgba-primary-5: #{rgba($color1, 0.5)};
    --rgba-primary-6: #{rgba($color1, 0.6)};
    --rgba-primary-7: #{rgba($color1, 0.7)};
    --rgba-primary-8: #{rgba($color1, 0.8)};
    --rgba-primary-9: #{rgba($color1, 0.9)};
    --theme-text-color: #fff;
    --primary-gradient: linear-gradient(180deg, #ff864e 0%, #ea3d85 100%);
    --primary-gradient1: linear-gradient(180deg, #ff72b4 0%, #ff3895 100%);
}

[data-theme-color='color-primary-2'] {
    --primary: #{$color2};
    --secondary: #441d3e;
    --rgba-primary-1: #{rgba($color2, 0.1)};
    --rgba-primary-2: #{rgba($color2, 0.2)};
    --rgba-primary-3: #{rgba($color2, 0.3)};
    --rgba-primary-4: #{rgba($color2, 0.4)};
    --rgba-primary-5: #{rgba($color2, 0.5)};
    --rgba-primary-6: #{rgba($color2, 0.6)};
    --rgba-primary-7: #{rgba($color2, 0.7)};
    --rgba-primary-8: #{rgba($color2, 0.8)};
    --rgba-primary-9: #{rgba($color2, 0.9)};
    --theme-text-color: #fff;
    --primary-gradient: linear-gradient(180deg, #ff864e 0%, #ea3d85 100%);
    --btn-gradient: linear-gradient(94deg, #e93e84 14.36%, #f46d8f 42.6%, #fe854e 80.39%);
}

[data-theme-color='color-primary-3'] {
    --primary: #{$color3};
    --secondary: #441d3e;
    --rgba-primary-1: #{rgba($color3, 0.1)};
    --rgba-primary-2: #{rgba($color3, 0.2)};
    --rgba-primary-3: #{rgba($color3, 0.3)};
    --rgba-primary-4: #{rgba($color3, 0.4)};
    --rgba-primary-5: #{rgba($color3, 0.5)};
    --rgba-primary-6: #{rgba($color3, 0.6)};
    --rgba-primary-7: #{rgba($color3, 0.7)};
    --rgba-primary-8: #{rgba($color3, 0.8)};
    --rgba-primary-9: #{rgba($color3, 0.9)};
    --theme-text-color: #fff;
    --primary-gradient: linear-gradient(180deg, #450080 0%, #830cf3 100%);
    --primary-gradient1: linear-gradient(180deg, #830cf3 0%, #450080 100%);
    --btn-gradient: linear-gradient(90deg, #450080 2.48%, #830cf3 99.66%);
}

/* Language */
